body {
    font-family: "Monstserrat", 'Segeo UI', Tahoma, Geneva, Verdana, sans-serif;
}

.brand img {
    height: 60px;
    width: 60px;
}

a,
a:hover {
    text-decoration: none;
}

#topbar {
    background-color: #052a4e;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

.top-contact,
.sosmed {
    list-style-type: none;
    padding: 0;
}

#topbar li {
    display: inline-block;
}

#topbar li a {
    color: #ffff;
    display: inline-block;
    padding: 0 20px;
}

#topbar li a i {
    color: #F2C808;
    margin-right: 5px;
}

#topbar .sosmed li a {
    padding: 0 5px;
}

#topbar .sosmed li a i {
    color: #fff;
}

/* css untuk header */

header {
    padding: 30px 0;
}

.brand {
    display: flex;
}

.brand img {
    margin-right: 20px;
}

.brand .brand-name h1 {
    font-size: 25px;
    color: #15477A;
    text-transform: uppercase;
}

.brand .brand-name h3 {
    font-size: 18px;
    font-family: Relaway, 'Segeo UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888888;
}

.pembungkus-searchbox {
    display: flex;
    align-items: center;
}

.searchbox {
    width: 100%;
}

.btn.btn-utama {
    background-color: #15477A;
    color: #f5cb10;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn.btn-utama:hover {
    background-color: #002b57;
}

/*CSS untuk menu / navbar */

.navbar {
    padding: 0;
    border-bottom: 5px solid #F2C808;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.bg-biru {
    background-color: #15477A !important;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    caret-color: #000;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link{
    background-color: #F2C808;
    color: #000;
}



.active {
    background-color: #F2C808;
    color: #15477A;
}

li.nav-item.active a {
    color: #15477A;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 15px 20px;
    display: inline-block;
}

/* css untuk slider hero area */

#hero-area {
    position: relative;
}

#slider-hero-nav .owl-prev {
    left: 0;
    border-radius: 0 50px 50px 0;
}

#slider-hero-nav .owl-next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

#slider-hero-nav .owl-prev:hover #slider-hero-nav .owl-next:hover {
    cursor: pointer;
    background-color: #F2C808;
}

#hero-area .slider-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    text-align: center;
    font-family: Raleway, 'Sugoe UI, Tahoma, Geneva, Verdana, sans-serif'
}

#hero-area .slider-item-content h2 {
    font-size: 55px;
    font-weight: 600;
    color: #F2C808;
}

#hero-area .slider-item-content span {
    font-size: 55px;
    font-weight: 600;
    color: #2c75bd;
}


#hero-area .slider-item-content p {
    font-size: 30px;
    font-weight: 400;
    color: #ddd;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*css untuksection sambutan*/

#sambutan {
    margin: 60px 0;

}

#sambutan h2 {
    color: #15477A;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

#sambutan h3 {
    color: #15477A;
    font-size: 30px;
    font-weight: 500;
}

#sambutan p {
    font-size: 15px;
    font-family: Raleway, sans-serif;
    font-size: 500;
    line-height: 28px;
}

/* css untuk feature */

.feature .main-feature-box{
    background: #002b57;
    margin-bottom: 30px;
    background-color:  #15477A;
    box-shadow: 0 10px 55px 5px rgba(85, 128, 228, 0.2);
    position: relative;
    padding: 25px 20px;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
    border-radius: 10px;

}

.feature .main-feature-box h3{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 7px;
    position: relative;
    color: #F2C808;
}

.feature .main-feature-box p{
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    color: #cecece;
}

/*css untuk card*/

.bg-card{
    background-color: #F2C808;
}

.bg-guru{
    background-color: #052a4e;
}

.text-guru{
    color: #15477A;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #f5cb10;
    padding: 8px;
}

/*css untuk slider*/

#program-keahlian-slider {
    margin: 20px;
}

.section-item-slider {
    height: 380px;
    box-shadow: 0 0 25px #ddd;
    position: relative;
}

#program-keahlian .foto-jurusan{
    height: 100%;
    object-fit: cover;
}

.section-item-caption{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    color: #000;
    display: block;
    width: 100%;
    text-align: center;
     font-weight: 600;
     padding: 20px 10px 15px;
}

.section-item-caption h5{
    color: #15477A;
    font-size: 18px;
    font-weight: 600;
}

.section-item-caption h6{
    font-size: 18px;
    color: #F2C808;
    text-transform: uppercase
}

#program-keahlian .section-body{
    position: relative;
}

#slider-tools-1 .owl-next,
#slider-tools-1 .owl-prev{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50px);
    right: -50px;
    z-index: 20;
    background-color: #15477A;
    border: none;
    height: 30px;
    width: 30px;
    color: #fff;
    border-radius: 50px;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: background-color 0.3s;
}

#slider-tools-1 .owl-prev{
    left: -50px;
}

#slider-tools-1 .owl-next:hover,
#slider-tools-1 .owl-prev:hover{
    cursor: pointer;
    background-color: #F2C808;
    color: #000;
}

/* css untuk section prestasi*/

#prestasi {
    min-height: 250px;
}

#prestasi .col-item-kanan {
    padding: 20px 30px 20px 20px;
}

.section-item {
    margin: 70px 0;
    box-shadow: 0 0 25px #ddd;
    min-height: 250%;
    overflow: hidden;
}

.section-item-tumbnail {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.section-tittle {
    margin-bottom: 90px;
    text-align: center;
}

.section-tittle h2 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 28px;
    text-transform: uppercase;
    color: #15477A;
    font-weight: 600;
}

.section-tittle h2:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background-color: #F2C808;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.section-item-tittle {
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
    padding-bottom: 20px;
}

.section-item-tittle h3 {
    font-size: 18px;
    color: #15477A;
    line-height: 25px;
    font-weight: 600;
    padding-right: 40px;
}

.section-item-tittle span {
    font-size: 12px;
    color: #666;
    font-weight: 500;
}

.section-item-tittle span i {
    margin-right: 5px;
}

.section-item-tittle span:span-of-type {
    margin-right: 15px;
}

.section-item-body p {
    font-size: 12px;
    line-height: 25px;
    color: #666;
}

/* CSS untuk tbl selengkapnya*/

.section-tittle {
    margin: 50px 0;
}

.tombol-selengkapnya {
    text-align: center;
}

.btn.btn-more {
    font-size: 15px;
    text-transform: uppercase; 
    font-weight: 600;
    color: #15477A;
    text-align: center;
    display: inline-block;
    border: 1px solid #15477A;
    border-radius: 0;
    padding: 10px 40px;
}

/* css untuk section ekstrakulikuler */

#ekstrakulikuler {
    background-color: #ddd;
    padding: 80px 0;
}

#Ekstrakulikuler .section-body-item {
    /*display: flex;*/
    background-color: #15477A;
    border-radius: 10px;
    padding: 20px;
    color: #F2C808;
    height: 130px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    margin: 20px;
    /* box-sizing: border-box; */
}

#Ekstrakulikuler .section-body-item h4 {
    font-weight: 500;
}

#Ekstrakulikuler .section-body .row:first-of-type {
    margin-bottom: 30px;
}

#Ekstrakulikuler .row2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*css untuk Galeri*/

.galeri .card{
    margin-bottom: 30px;
    background-color:  #15477A;
    box-shadow: 0 10px 55px 5px rgba(85, 128, 228, 0.2);
    position: relative;
    padding: 25px 20px;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}

/*CSS untuk Contact Us*/
.contact .btn-primary {
    background-color: #15477A;
    
}


/*CSS untuk Footer*/

footer {
    color: #fff;
    background-color: #15477A;
    padding: 70px 0;
}

footer .footer-col:first-of-type {
    padding-right: 30px;
}

footer .brand {
    display: flex;
    top: 15%;
}

footer .brand img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

footer .brand h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

footer .tentang {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

footer .sosmed {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .sosmed li {
    display: inline-block;
    margin-right: 15px;
}

footer .sosmed li {
    color: #15477A;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    line-height: 50px;
}

footer .sosmed li a:hover {
    color: #c7c7c7;
}

.footer-col h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-col .alamat {
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0;
}

.footer-col .kontak {
    list-style: none;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
}

.footer-col .kontak li {
    margin: 10px 0;
}


.footer-col .kontak i {
    margin-right: 10px;
}


.footer-col .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col .footer-nav li {
    margin: 10px 0;
}

.footer-col .footer-nav a {
    color: #fff;
    font-size: 15px;
    font-weight: 28px;
    transition: all 0.5s;
}

.footer-col .footer-nav a:hover {
    border-bottom: 1px dashed #fff;
}

.footer-copyright .container {
    border-top: 1px solid rgba(242, 242, 242, 0.25);
    padding: 10px 0;
}


.footer-copyright {
    margin-top: 60px;
}

.footer-copyright h6 {
    font-size: 16px;
    color: #cecece;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-copyright h6 a {
    color: inherit;
}

.footer-copyright h6 a:hover {
    border-bottom: 1px dashed #cecece;
}
